html {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

body, main {
    margin: 0 auto;
}

header {
    margin: 0 auto;
    width: 90%;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    display: flex;
    overflow: hidden;
}

.card {
    position: relative;
    margin: 0.5em 0 1em 0;
    border: 1px solid black;
    background-color: white;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    overflow: hidden;
}

.card .card-title {
    font-size: 4em;
    font-weight: 300;
}

.card-content {
    padding: 2em;
    border-radius: 0 0 0.2em 0.2em;
}

.card-reveal {
    padding: 1em;
    position: absolute;
    background-color: white;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none;
}

.card-reveal .card-title {
    display: inline-block;
    position: absolute;
    left: 0;
}

.card-content p, .card-content .revealer {
    display: inline-block;
    margin: 0 auto;
}

.revealer {
    position: absolute;
    top: 10%;
}

.revealer > img {
    -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
         -o-transition: all .4s ease;
            transition: all .4s ease;
}

/* Need to fully understand these selectors... */
.revealer > img:nth-child(1) {
    filter: alpha(opacity=100);
    opacity: 1;
    z-index: 2;
    position: absolute;
    top: 0;
}

.revealer > img:nth-child(2) {
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
}

.revealer:active > img:nth-child(1) {
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 1;
}

.revealer:active > img:nth-child(2) {
    filter: alpha(opacity=100);
    opacity: 1;
    z-index: 2;
}

 /* This is needed for some mobile phones to display the Google Icon font properly  */
.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
     -moz-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}

