html {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

body, main {
    margin: 0 auto;
}

header {
    margin: 0 auto;
    width: 90%;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    display: flex;
    overflow: hidden;
}

.card {
    position: relative;
    margin: 0.5em 0 1em 0;
    border: 1px solid black;
    background-color: white;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    overflow: hidden;
}

.card .card-title {
    font-size: 4em;
    font-weight: 300;
    display: inline-block;
    left: 0;
}

.card-content {
    padding: 2em;
    border-radius: 0 0 0.2em 0.2em;
}

.card-reveal {
    background-color: white;
    overflow-y: auto;
    width: 80%;
    height: 100%;
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 1;
    transition: right .5s;
}

.card-content p, .card-content .revealer {
    display: inline-block;
    margin: 0 auto;
}

.revealer {
    position: absolute;
    top: 10%;
}

.revealer > img {
    -webkit-transition: all .4s ease;
       -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
         -o-transition: all .4s ease;
            transition: all .4s ease;
    position: absolute;
    top: 0;
}
