html {
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
}

body, main {
    margin: 0 auto;
}

header {
    margin: 0 auto;
    width: 90%;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    overflow: hidden;
}

.card {
    position: relative;
    margin: 0.5em 0 1em 0;
    background-color: white;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
    overflow: hidden;
}

.card .card-title {
    font-size: 4em;
    font-weight: 300;
}

.card-reveal {
    padding: 2em;
    position: absolute;
    background-color: white;
    width: 100%;
    overflow-y: auto;
    left: 0;
    top: 100%;
    height: 100%;
    z-index: 3;
    display: none;
}

.card-reveal .card-title {
    display: block;
}

.activator {
    cursor: pointer;
}

.card-content {
    padding: 2em;
    border-radius: 0 0 0.2em 0.2em;
}

.card-content p, .card-content i{
    display: inline-block;
    margin: 0;
}



.right {
  float: right !important;
}

.left {
  float: left !important;
}

 This is needed for some mobile phones to display the Google Icon font properly 
.material-icons {
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'liga';
     -moz-font-feature-settings: 'liga';
          font-feature-settings: 'liga';
}


